---
import MainTitle from "../components/MainTitle.astro";
import AboutCard from "../components/shared/AboutCard.astro";
import Breadcrums from "../components/shared/Breadcrums.astro";
import Section from "../components/shared/Section.astro";
import { Counter } from "../components/solid/Counter";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";

export interface LeadsFrontmatter {
  desc: string;
  name: string;
  linkT: string;
  linkLI: string;
  imgSource: string;
  info: string;
  id: number;
}

const leads = await Astro.glob<LeadsFrontmatter>('/public/assets/leads/*.md');
const sortLeads = leads.sort((a, b) => a.frontmatter.id - b.frontmatter.id);
---

<Layout title="About Us" preloadImg="about/about.svg">

  <Container>
    <Breadcrums currentPath="About Us" />
    <section class="hero">
      <div class="hero__title">
        <MainTitle redLine="About" title="pireactor" />
        <p class="about__desc">
          Have you ever wondered what all the PMPs, the Fifth Degree Process Kata
          Thai Judo certified experts in project... actually do? Even with decades of
          aggregate experience, we couldn't answer that question. So we made a better way.
        </p>
      </div>
      <div class="hero__img"></div>
    </section>
    <Section title="We develop projects for clients from all over the world">
      <div class="about__counter">
        <Counter title="Projects done" countTo={32} client:load />
        <Counter title="Unique Industries" countTo={12} client:load />
        <Counter title="Number of employees" countTo={32} client:load />
        <Counter title="Years on the market" countTo={12} client:load />
      </div>
    </Section>
    <Section title="Who we are">
      <div class="about__who">
        <p>
          [pi┃reactor] is reinventing straight through quality at speed global solutions
          from resourcing to delivery—enabled by our proven & proprietary, Micro-Agile to
          Beyond-Agile, specialized end-to-end methodologies & our fully global talent
          management built atop of thirty years of combined industry experience across our
          core team.
          <br />
          <br />
          In short, we are a startup & product catalyzer, accelerating delivery of top quality
          at fractional cost for: product design, implementation and scaling, thereby
          unchaining funded founders and established businesses with our unparalleled
          leanmax global resourcing system.
        </p>

        <p>
          We do not seek equity stake and are currently accepting select, funded member
          engagements: ranging from feature add to product line, across the project
          depth from initial conception/scoping through release-to-market. We also provide
          whole venture transformation over visioning, planning, implementation, and handoff.
          <br />
          <br />
          Platea congue tellus iaculis viverra id duis dolor. Hac integer lacus, augue
          viverra quis egestas viverra habitant. Cras in ipsum nisi congue egestas nisi,
          ullamcorper. Euismod bibendum donec porta scelerisque. Consequat quisque diam
          dui sem sagittis vitae et, lacus. Morbi vivamus elementum amet, senectus posuere.
        </p>
      </div>
    </Section>

    <Section title="Our Global Leads">
      <ul class="leads-list">
        {sortLeads.map(lead => (
          <AboutCard
            desc={lead.frontmatter.desc}
            imgSource={lead.frontmatter.imgSource}
            name={lead.frontmatter.name}
            info={lead.frontmatter.info}
            linkLI={lead.frontmatter.linkLI}
            linkT={lead.frontmatter.linkT}
          />
        ))}
      </ul>
    </Section>

    <Section title="Locations">
      <div class="location">
        <div class="location__img-wrp">
          <img src="/assets/img/about/location/k.webp" alt="kiev" class="location__img location__img_k">
          Kyiv
        </div>
        <div class="location__img-wrp location__img-wrp_ny">
          <img src="/assets/img/about/location/ny.webp" alt="New York" class="location__img location__img_ny">
          New York
        </div>
        <div class="location__img-wrp">
          <img src="/assets/img/about/location/g.webp" alt="Gdansk" class="location__img location__img_g">
          Gdansk
        </div>
      </div>
    </Section>
  </Container>
</Layout>

<style lang="scss">
  .hero__img {
    content: url("/assets/img/about/about.svg");
  }

  .hero {
    display: flex;
    margin-bottom: 10rem;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
  }

  .about__counter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about__who {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
  }

  .leads-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.875rem;
    row-gap: 5.625rem;
  }

  .location {
    display: flex;
    justify-content: space-between;
  }

  .location__img-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
  }

  .location__img {
    margin-bottom: 1.875rem;
  }

  .location__img-wrp_ny {
    transform: translateY(-7rem);
  }
</style>